/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  font: 16px 'Source Sans Pro', Helvetica, Arial, sans-serif;
  text-align: center;
  padding-top: 42px;
}

a         { color: #d21f08; }
a:hover   { color: #000; }
/* a:visited { color: #a0a; } */

body > header {
  background: #EDEADE;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

body > header .content {
  width: 85%;
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
}

body > header .menu {
  text-align: right;
}

body > header #logo a {
  display: inline-block;
  height: 30px;
  padding: 6px 20px;
}

body > header #logo img {
  height: 30px;
}

.pure-menu.pure-menu-open {
  background: transparent;
}

.pure-menu li a {
  padding: 8px 20px;
  color: #666;
}

.pure-menu li a:hover {
  background: #CBC4B2;
  color: #333;
}

.hero {
  padding: 60px 0;
  background: url('/img/bg_hero_frontpage_1.jpg') 50% center no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 1) 0 0 5px inset;
  margin: 0 -5px;
  color: #fff;
  /* text-shadow: #000 1px 1px 2px; */
}

.hero h1, .hero .subheading {
  display: inline-block;
  margin: 0;
  padding: 0 18px;
  background: #d21f08;
  opacity: 0.9;
  font-weight: 300;
  -webkit-backface-visibility: hidden;
  /* text-shadow: #000 1px 1px 3px; */
}

.hero h1 {
  font-size: 40px;
  -webkit-transform: rotate(-3deg);
}

.hero .subheading {
  font-size: 18px;
  -webkit-transform: rotate(-1deg);
}

.hero img.flame {
  width: 200px;
  opacity: 0.9;
  margin-left: -20px;
}

#content {
  width: 85%;
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: left;
}

#content p {
  line-height: 1.5em;
}

#content p.intro {
  font-weight: 300;
  font-size: 24px;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post h2.title {
  font-size: 22px;
  font-weight: bold;
}

#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}

#post img {
  max-width: 100%;
  padding: 10px 0;
}

.footnotes {
  padding: 40px 0;
  font-size: 13px;
}

.footnotes hr {
  border: none;
  border-top: 1px solid #ccc;
}
