/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

body {
  background-color: #FFF;
  font: 16px 'Source Sans Pro', Helvetica, Arial, sans-serif;
  text-align: center;
  padding-top: 42px;
}

a         { color: #a00; }
a:hover   { color: #000; }
/* a:visited { color: #a0a; } */

#content {
  width: 70%;
  max-width: 960px;
  margin: 0 auto;
}

body > header {
  background: #EDEADE;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

body > header .content {
  width: 70%;
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
}

body > header .menu {
  text-align: right;
}

.pure-menu.pure-menu-open {
  background: transparent;
}

.pure-menu li a {
  padding: 8px 20px;
  color: #666;
}

.pure-menu li a:hover {
  background: #CBC4B2;
  color: #333;
}

.hero {
  padding: 80px 0;
}

.hero h1 {
  margin: 0;
  padding: 0;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post h2.title {
  font-size: 22px;
  font-weight: bold;
}

#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}

#post img {
  max-width: 100%;
  padding: 10px 0;
}

.footnotes {
  padding: 40px 0;
  font-size: 13px;
}

.footnotes hr {
  border: none;
  border-top: 1px solid #ccc;
}
