// -- literal colors --

$grey: #EDEADE
$dark-grey: #CBC4B2
$white: #fff
$black: #000
$red: #d21f08


// -- semantic color mapping --

$link-color: $red
$dark-text-color: $black
$medium-text-color: $dark-grey
