<link rel="shortcut icon" href="{{ 'favicon.ico' | asset_path }}" type="image/x-icon" />
<link rel="apple-touch-icon" href="{{ 'apple-touch-icon.png' | asset_path }}" />
<link rel="apple-touch-icon" sizes="57x57" href="{{ 'apple-touch-icon-57x57.png' | asset_path }}" />
<link rel="apple-touch-icon" sizes="72x72" href="{{ 'apple-touch-icon-72x72.png' | asset_path }}" />
<link rel="apple-touch-icon" sizes="114x114" href="{{ 'apple-touch-icon-114x114.png' | asset_path }}" />
<link rel="apple-touch-icon" sizes="144x144" href="{{ 'apple-touch-icon-144x144.png' | asset_path }}" />