<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    {% stylesheet app %}

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
     <!--[if lte IE 8]>
         <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
     <![endif]-->

    {% include icons.html %}
  </head>
  <body>
    <header>
      <div class="content pure-g-r">
        <div id="logo" class="pure-u-1-5">
          <a href="/"><img class="flame" src="{% asset_path railscamp_icon_32x32.png %}" /></a>
        </div>
        <div class="menu pure-u-4-5">
          <nav class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
              <li>
                <a href="/venue">Venue</a>
              </li>
              <li>
                <a href="/contribute">Contribute</a>
              </li>
              <li>
                <a href="/schedule">Schedule</a>
              </li>
              <li>
                <a href="/tickets">Tickets</a>
              </li>
              <li>
                <a href="/sponsors">Sponsors</a>
              </li>
              <li>
                <a href="/blog">Blog</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    {{ content }}
</html>
